services:
  db:
    image: postgres:latest
    container_name: 'postgres-eventtech-dev'
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    volumes:
      - pgdata:/var/lib/postgresql/data/main
    ports:
      - '5432:5432'
volumes:
  pgdata:
